main {
    margin-top: 5rem;
}


.main-title {
    padding: 1rem 0;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}


.main-title span {
    font-family: "yeseva one";
}

.card-body {
    position: relative;
}

.card-title {
    position: absolute;
    color: #bbb;
    font-family: "yeseva one";
    left: 25%;
    top: -25%;
    font-size: 2.5rem;
}

@media (min-width: 992px) {
    .card-title {
        left: 35%;
    }

    .main-title {
        padding: 3rem 0 2rem;
    }
}